@charset "utf-8";

/* 메인메뉴 위치 */
.main_menu>ul:nth-child(4)>li:nth-child(1)>a {
    color: #d6264e;
    border-bottom: 3px solid #d6264e;
    box-sizing: border-box;
}


/* 서브 탑 이미지 , 현재페이지 위치 */
.subtop {
    width: 100%;
    margin-bottom: 80px;
}


.subtop>div {
    width: 100%;
    height: 400px;
    background-color: #000;
    background-image: url(../images/market/topimg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.subtop>div>h3 {
    font-size: 50px;
    color: #fff;
    font-weight: 200;
    padding-top: 130px;
}

.subtop>div>p {
    font-size: 20px;
    color: #fff;
    font-weight: 200;
    padding-top: 10px;
}


/* 리뷰 */

.review {
    width: 100%;
}

.review>h2 {
    line-height: 100px;
    text-align: center;
    width: 100%;
}

.review_cover {
    width: 1200px;
    height: 144px;
    margin-bottom: 50px;
    overflow: hidden;
}

.review>div>ul {
    position: relative;
    width: 2000px;
    height: 144px;
}

.review>div>ul>li {
    float: left;
    width: 380px;
    height: 144px;
    margin: 0 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.review>div>ul>li>a {
    position: absolute;
    width: 370px;
    height: 144px;
}

.review>div>ul>li>div:nth-child(2) {
    width: 120px;
    height: 120px;
    margin: 11px;
    float: left;
    background-color: wheat;
}

.review>div>ul>li>div:nth-child(3) {
    width: 214px;
    height: 120px;
    margin: 11px 0;
    float: left;
}

.review>div>ul>li>div:nth-child(3)>h3 {
    margin-bottom: 5px;
}

.review>div>ul>li>a:hover {
    background-color: rgba(255,255,255,0.5);
}


/* 신상품 */
.new_pro>h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    animation: new 1s infinite;
}

@keyframes new {
    0% {color: #666;}
    50% {color: rgb(255, 217, 0);}
    100% {color: #666;}
}

.new_pro>div {
    width: 1200px;
    position: relative;
}

.new_prev, .new_next {
    position: absolute;
    top: 130px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #999;
    z-index: 10;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    opacity: 0.7;
}

.new_prev {
    left: -20px;
}

.new_next {
    right: -20px;
}

.new_product {
    width: 1200px;
    height: 350px;
    overflow: hidden;
}

.new_product>ul {
    position: relative;
    width: 1800px;
    height: 350px;
}

.product {
    width: 280px;
    padding: 0 10px 30px 10px;
    float: left;
}

.product>a {
    display: inline-block;
    width: 280px;
    height: 280px;
}

.product>a:hover {
    opacity: 0.5;
}

.product>ul {
    margin-top: 10px;
    width: 250px;
    height: 60px;
    float: left;
}

.product>ul>li>h4 {
    color: #000;
    width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

.addcart {
    display: inline-block;
    background-image: url(../images/add_cart.png);
    background-size: 100%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 13px;
}

.addcart:hover {
    background-image: url(../images/add_cart_hover.png);
    background-size: 100%;
}

.product>a>span {
    position: absolute;
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 23px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9em;
}

.new {
    background-color: rgb(255, 217, 0);
    color: #000;
}

.won {
    font-size: 0.8em;
}


/* 인기상품 */

.popular {
    width: 100%;
}

.popular>h2 {
    width: 100%;
    text-align: center;
    margin: 50px 0 30px;
    animation: pop 1s infinite;
}

@keyframes pop {
    0% {color: #666;}
    50% {color: #d6264e;}
    100% {color: #666;}
}

.popular>ul {
    width: 1200px;
}

.popular:after {
    content: "";
    display: block;
    clear: both;
}


/* 더보기 */

.plus {
    width: 1200px;
    text-align: center;
    cursor: pointer;
}

.plus>button {
    width: 100%;
    height: 50px;
    background-color:  #fff;
    font-size: 1.3em;
    cursor: pointer;
    border: 1px solid #999;
}