@charset "utf-8";

/* 메인메뉴 위치 */
.main_menu>ul:nth-child(4)>li:nth-child(3)>a {
    color: #d6264e;
    border-bottom: 3px solid #d6264e;
    box-sizing: border-box;
}

/* 서브 탑 이미지 , 현재페이지 위치 */
.subtop {
    width: 100%;
    margin-bottom: 80px;
}


.subtop>div {
    width: 100%;
    height: 400px;
    background-color: #000;
    background-image: url(../images/notice/topimg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.subtop>div>h3 {
    font-size: 50px;
    color: #fff;
    font-weight: 200;
    padding-top: 130px;
}

.subtop>div>p {
    font-size: 20px;
    color: #fff;
    font-weight: 200;
    padding-top: 10px;
}

/* 공지내용 */

.notice {
    width: 100%;
}

.notice>h2 {
    line-height: 100px;
    text-align: center;
    width: 100%;
}

.notice>ul {
    width: 1000px;
    height: 510px;
    border-top: 7px double #ddd;
    border-bottom: 7px double #ddd;
}

.notice>ul>li {
    width: 1000px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}

.notice>ul>li:last-child {
    border-bottom: 0;
}

.notice>ul>li>div:nth-child(1)>a {
    float: left;
    display: block;
    width: 800px;
    text-indent: 20px;
}

.notice>ul>li>div:nth-child(1)>a:hover {
    color: #d6264d;
}

.notice>ul>li>div:nth-child(2) {
    float: right;
    display: block;
    width: 100px;
    margin-right: 20px;
    text-align: right;
}

.page_num {
    width: 1200px;
    height: 30px;
    text-align: center;
    margin-top: 30px;
}

.page_num>a {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
}

.click {
    color: #d6264d;
}